{% extends 'base.html.twig' %}

{% block title %}Reset password!{% endblock %}

{% block body %}
{% if not app.user %}

<div class="" style="padding-top: 100px">
	<div style=" width: 300px ; box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; padding: 10px; margin: auto;">
		<h3 style="text-align: center;" class="title">Reset password</h3>
        <form method="post">
			

			<div style="margin: 0 0 16px">
				<label for="resetInputEmail" style="margin: 0 0 8px">Email</label>
				<input type="email"  name="email" id="resetInputEmail" class="form-control"
					autocomplete="email" required autofocus>
			</div>
            <button class="btn btn-primary btn-sm mt-1" type="submit">
                Reset password
            </button>
        </form>
		
	</div>
</div>
{% endif %}
{% endblock %}