{% extends 'base.html.twig' %}

{% block title %}Reset password!{% endblock %}

{% block body %}

<div style="padding-top: 100px">
    <h1 class="title-logo mb-5">Password reset</h1>
    <div class="login-reset">
        {{ form_start(form) }}
        {{ form_row(form.email) }}
        <button type="submit" class="btn btn-primary">Send</button>
        {{ form_end(form) }}

    </div>
</div>

{% endblock %}